.search-box {
  position: relative;
}

.search-box__input {
  margin-left: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.search-box__input .search-box__search {
  margin-left: 5px;
}
