.player__container {
  margin: 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.player__control-button {
  margin: 0 10px;
}

.player__control-button {
  font-size: 1.2rem;
}

.player__control-button.primary {
  font-size: 1.5rem;
  padding: 0 10px;
}

.player__control-button.disabled {
  color: #7e7e7e;
}

.player__control-button.secondary {
}

.player__song {
  width: 100%;
  height: 20px;
}

.player__timer {
  display: flex;
  flex-direction: column;
}
