.menu {
  width: 10vw;
  font-size: 1rem;
}

.menu ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 20px;
}

.menu li {
  margin-bottom: 10px;
}

.menu a {
  color: #929292;
  font-weight: bold;
  text-decoration: none;
}

.menu a:hover {
  text-decoration: none;
  color: #e0e0e0;
}

.menu a.active {
  color: #fff;
}

.menu a.active:hover {
  color: #fff;
}

.menu__icon {
  margin-right: 5px;
}

.menu__icon .icon {
  width: 18px;
}
