.song-list-cover {
  display: grid;
  grid-row-gap: 65px;
  grid-column-gap: 20px;
}

.song-list-cover__item {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.song-list-cover__item-title {
    width: 100%;
}

.song-list-cover__item-artist {
    color: #9a9a9a;
}

